@import "tailwindcss";

:root, :host {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --color-amber-100: #D7E8F7;
  --color-amber-700: #5D85B3;

  --color-emerald-100: #D7E8F7;
  --color-emerald-700: #5D85B3;

  --color-sky-50: #F4F9FD;
  --color-sky-100: #EAF3FB;
  --color-sky-200: #D7E8F7;
  --color-sky-400: #AAC9E6;
  --color-sky-500: #96C1EC;
  --color-sky-600: #7FA8D6;
  --color-sky-700: #6F97C4;
  --color-sky-800: #5D85B3;

  --color-blue-50: #F4F9FD;
  --color-blue-100: #EAF3FB;
  --color-blue-200: #D7E8F7;
  --color-blue-400: #AAC9E6;
  --color-blue-700: #6F97C4;
  --color-blue-800: #5D85B3;
  --color-blue-900: #4B739F;

  --color-slate-50: #F8FBFE;
  --color-slate-100: #EEF5FB;
  --color-slate-200: #DCEAF6;
  --color-slate-500: #5F7590;
  --color-slate-600: #4F6782;
  --color-slate-700: #3F5874;
  --color-slate-800: #2D4968;
  --color-slate-900: #114078;
  --color-slate-950: #0C315D;

  --color-white: #fff;
  --spacing: 0.25rem;
  --container-lg: 32rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-7xl: 80rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --tracking-wide: 0.025em;
  --leading-tight: 1.25;
  --leading-relaxed: 1.625;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --default-transition-duration: 150ms;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}